/*
	Petit ordinateur
*/
@media screen and (max-width: 1200px) {
	form {
		width:50%;
	}
}
/*
	Tablette
*/
@media screen and (max-width: 700px) {
	table input {
		width:70%;
		left:15%;
	}
	form > * {
		margin:3px;
	}
	form > * > * {
		margin:1px;
	}
	body {
		font-size:70%;
	}
}
/*
	Telephone
*/
@media screen and (max-width: 500px) {
	form {
		width:90%;
	}
}